<%= form_for(@batt) do |f| %>
  <% if @batt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batt.errors.count, "error") %> prohibited this batt from being saved:</h2>

      <ul>
      <% @batt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :playerID %><br>
    <%= f.text_field :playerID %>
  </div>
  <div class="field">
    <%= f.label :yearID %><br>
    <%= f.number_field :yearID %>
  </div>
  <div class="field">
    <%= f.label :league %><br>
    <%= f.text_field :league %>
  </div>
  <div class="field">
    <%= f.label :teamID %><br>
    <%= f.text_field :teamID %>
  </div>
  <div class="field">
    <%= f.label :G %><br>
    <%= f.number_field :G %>
  </div>
  <div class="field">
    <%= f.label :AB %><br>
    <%= f.number_field :AB %>
  </div>
  <div class="field">
    <%= f.label :R %><br>
    <%= f.number_field :R %>
  </div>
  <div class="field">
    <%= f.label :H %><br>
    <%= f.number_field :H %>
  </div>
  <div class="field">
    <%= f.label :2B %><br>
    <%= f.number_field :2B %>
  </div>
  <div class="field">
    <%= f.label :3B %><br>
    <%= f.number_field :3B %>
  </div>
  <div class="field">
    <%= f.label :HR %><br>
    <%= f.number_field :HR %>
  </div>
  <div class="field">
    <%= f.label :RBI %><br>
    <%= f.number_field :RBI %>
  </div>
  <div class="field">
    <%= f.label :SB %><br>
    <%= f.number_field :SB %>
  </div>
  <div class="field">
    <%= f.label :CS %><br>
    <%= f.number_field :CS %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
