<p id="notice"><%= notice %></p>

<p>
  <strong>Playerid:</strong>
  <%= @batt.playerID %>
</p>

<p>
  <strong>Yearid:</strong>
  <%= @batt.yearID %>
</p>

<p>
  <strong>League:</strong>
  <%= @batt.league %>
</p>

<p>
  <strong>Teamid:</strong>
  <%= @batt.teamID %>
</p>

<p>
  <strong>G:</strong>
  <%= @batt.G %>
</p>

<p>
  <strong>Ab:</strong>
  <%= @batt.AB %>
</p>

<p>
  <strong>R:</strong>
  <%= @batt.R %>
</p>

<p>
  <strong>H:</strong>
  <%= @batt.H %>
</p>

<p>
  <strong>2b:</strong>
  <%= @batt.2B %>
</p>

<p>
  <strong>3b:</strong>
  <%= @batt.3B %>
</p>

<p>
  <strong>Hr:</strong>
  <%= @batt.HR %>
</p>

<p>
  <strong>Rbi:</strong>
  <%= @batt.RBI %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @batt.SB %>
</p>

<p>
  <strong>Cs:</strong>
  <%= @batt.CS %>
</p>

<%= link_to 'Edit', edit_batt_path(@batt) %> |
<%= link_to 'Back', batts_path %>
