<%= div_for(comment) do %>
	  <p>
	    <div class='gravtar'><%= gravatar_for(current_user, size: 52) %>
	              <strong><%= comment.user.first_name if comment.user%></strong> Commented <%= time_ago_in_words(comment.created_at) %> ago </br>
	    <%= h(comment.body) %>
	  </p>

<% end %>
