<div class="row">
	<aside class="span1">
     <button id="show">Add Image</button> 
    </aside>
    <%= form_for Post.new, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="editor">
    <%= f.text_area :content, size: '100', placeholder: "New Post.." %>
  </div>
  <div class='tweet_btn'>
    <%= f.file_field :image %>
  </div>
  <div><%= f.submit "Post", class: "btn btn-large btn-primary" %></div>
  
<% end %>
</div>

<div class = 'container'>
  <div class = 'row' >
    <% @posts.each do |post| %>
    <div class = 'col-md-3'>
      <div class = 'thumbnail'>
        <p class> <strong><%= post.user.first_name %></strong></p>
        <h3><%= post.content %> </h3>
        <%= image_tag post.image %>
        </div>
        <div>
        <h4>Comments</h4>
        <% for comment in post.comments %>
          <div id="comments">
          <%= div_for(comment) do %>
            <p>
            <strong><%= comment.user.first_name if comment.user%> Commented <%= time_ago_in_words(comment.created_at) %> ago </strong></br>
            <%= h(comment.body) %>
            </p>
            <% end %>
          <% end %> 
          </div>
            <%= form_for [post, Comment.new] do |f| %>
            <p>
              <%= f.text_area :body, size: '100', placeholder: "Comment Here" %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
            </p>
            <p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
    <%end %>
  </div>
</div>

<script>
$(document).ready(function(){
  $("#show").click(function(){
    $("div.tweet_btn").show();
    $("#show").hide();
  });
});

$(document).ready(function(){
$('#editor').wysiwyg();
});
</script>


