<h1>Listing industries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @industries.each do |industry| %>
      <tr>
        <td><%= industry.name %></td>
        <td><%= industry.status %></td>
        <td><%= link_to 'Show', industry %></td>
        <td><%= link_to 'Edit', edit_industry_path(industry) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Industry', new_industry_path %>
